/**
Seletores
    Class   .nomeclasse
    Id      #idelemento
    Tag     body
*/

:root {
    --background-gray: #d3d3d3;
    --background-blue: #00009b;
    --font: "Arial", "Nunito", "sans-serif";
    --color-orange: #ff4500;
    --color-yellow: #fff000;
    --color-purple: rgb(59, 59, 128);
    --height-header: 4rem;
    --width-header: 5rem;
    --nav-height: 100%;
}

* {
    font-family: var(--font);
}

body {
    height: 100vh;
}

a {
    text-decoration: none;
    cursor: pointer;
}

#header {
    background-color: #d4d3d3;
    height: var(--height-header);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

/* flexbox */
.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;       /* 100% de altura em relação ao elemento pai (#header) */
    padding: 0 1rem 0 12rem;
}

.navbar {
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    width: var(--width-header);
    padding: 1rem 0 0 0;
    background-color: var(--color-purple);
}

.nav {
    background-color: var(--color-purple);
    height: var(--nav-height);     /*     100% de altura em relação ao elemento pai (#header) */
    /* width: 8rem; */
    flex-direction: column;
    justify-content: space-between;
}

.nav-link, .nav-logo {
    padding: 0.5rem 0 0.5rem 1.5rem;
    color: #ffffff;
    display: grid;
}

.nav-logo {
    margin-bottom: 2rem;
}

.nav-logo-icon {
    font-size: 2.5rem !important;
}

.icon-logo {
    display: flex;
    flex-direction: column;
}

.avatar {
    font-size: 2rem !important;
}


.orange {
    color: var(--color-orange)
}

.yellow {
    color: var(--color-yellow)
}

.container {
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(var(--height-header) + 1rem);
    margin-left: calc(var(--width-header) + 1rem);
}

.card {
    display: flex;
    flex-direction: column;
    box-shadow: 5px 5px 5px 0 rgba(0, 0, 0, 0.2), 0 0 5px 0 rgba(0,0,0,0.3);
    padding: 15px;
    margin: 15px;
    border-radius: 5px;
    max-width: 300px;
}

.card-image-header {
    width: 100%;
}

.card-header h2 {
    text-align: center;
}

@media screen and (max-width: 375px) {
    .navbar {
        display: none;
    }
    
    .container {
        margin-left: 0px;
    }

    .header-content {
        padding: 0 1rem 0 1rem;
    }
}

@media screen and (max-width: 768px) { 
    .card {
        max-width: 250px;
    }
}